@mixin bg-radient($beg, $end, $dir: right) {
    background: -moz-linear-gradient(to $dir, $beg 0%,$end 100%);
    background: -webkit-linear-gradient(to $dir, $beg 0%,$end 100%);
    background: linear-gradient(to $dir, $beg 0%,$end 100%);
}
body {
    @include bg-radient(#192133, #192133, bottom);
}
#app {
    background: url(../skingirl/bg.png) no-repeat center top;
}
#logo {
    background: url(../skingirl/logo.png);
}
.grat-border-outer {
    border-radius: 4px;
    overflow: hidden;
}
.grat-border {
    border: 2px solid #e1c078;
    border-image: -webkit-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
    border-image: -moz-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
    border-image: -o-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
    border-image: linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
}
.srh-tabs {
    color: #fff;
    .item {
        background: #fff;
        color: #fb5964;
    }
    .selected {
        background: #fb5964;
        color: #fff;
    }
}
.srh-btn {
    position: relative;
    overflow: hidden;
    background: #fb5964;
    color: #fff;
}
.grat-border {
    border: 2px solid #fb5964;
}
.srh-inp-box {
    input {
        background: #fff;
    }
}
.game-cate-sec {
    background: #fb5964;
    .tabs {
        > div {
            background: #ffeed0;
            &:hover {
                color: #4c2f17 !important;
            }
            &.selected {
                @include bg-radient(#fffdfd, #fee0de, bottom);
                color: #4c2f17;
                &:hover {
                    color: #4c2f17 !important;
                }
            }
        }
    }
}
.bg-decoration {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../skingirl/decoration.png) no-repeat center center;
        background-size: auto;
    }
}
.bg-decoration2 {
    position: relative;
    background: #ffeed0;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: url(../skingirl/decoration2.png) no-repeat center center;
    //     background-size: auto;
    // }
}
.content {
    padding-bottom: 20px;
    background: #db4f59;
}
.game-cate-sec {
    margin-bottom: 20px;
    // background: url(../skingirl/banner-txt.png) no-repeat;
    background-position: center bottom;
    &:last-child {
        background: none;
    }
}
.sub-title {
    margin-bottom: 0;
    height: 80px;
    line-height: 80px;
    background: url(../skingirl/banner-txt.png) no-repeat center center;
    color: #efbf6b;
    font-size: 20px;
    font-family: '宋体';
    text-align: center;
}
.company-intro {
    font-size: 12px;
    color: #fc6f79;
}
.shortcut {
    color: #ff7e00;
}
.copy-right {
    font-size: 12px;
    color: #4d637a;
}
.contact {
    width: 330px;
    text-align: left;
    color: #db4f59;
}
.bottom {
    background: #232323;
    border-top: 1px solid #8f7640;
}
.logo-bottom {
    width: 295px;
    height: 71px;
    background: url(../skingirl/logo.png) no-repeat;
}
.skin-btn {
    background: #09dbb9 url(../img/skin-btn-girl.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 20px 58px;
}