.w1200 {
  margin: 0 auto;
  width: 1200px;
}

#app .header {
  margin: 0 auto;
  width: 1200px;
  padding: 100px 0 50px;
  text-align: center;
}

#app .header #logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 80px;
  width: 295px;
  height: 50px;
  text-indent: -1999px;
  overflow: hidden;
}

#app .header .srh-bar {
  width: 700px;
  margin: 0 auto;
}

#app .header .srh-bar .srh-tabs {
  overflow: hidden;
  padding-left: 2px;
  font-size: 13px;
  margin-bottom: -2px;
}

#app .header .srh-bar .srh-tabs .item {
  float: left;
  margin-left: -2px;
  font-weight: bold;
  cursor: pointer;
}

#app .header .srh-bar .srh-tabs .item > div {
  padding: 3px 7px;
}

#app .header .srh-bar .srh-inp-box {
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#app .header .srh-bar .srh-inp-box .grat-border {
  height: 45px;
}

#app .header .srh-bar .srh-inp-box input {
  float: left;
  padding: 0 10px;
  width: 630px;
  height: 100%;
  box-sizing: border-box;
  color: #9c844e;
  border: none;
}

#app .header .srh-bar .srh-inp-box .srh-btn {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
}

#app .header .srh-bar .srh-inp-box .srh-btn:hover {
  opacity: .9;
}

#app .content .game-cate-sec {
  padding-bottom: 100px;
}

#app .content .game-cate-sec .tabs {
  overflow: hidden;
}

#app .content .game-cate-sec .tabs > div {
  float: left;
  width: 196px;
  height: 50px;
  line-height: 50px;
  color: #e8b26e;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

#app .content .game-cate-sec .game-cate-main {
  padding-top: 20px;
  overflow: hidden;
}

#app .content .game-cate-sec .game-item {
  float: left;
  width: 216px;
  height: 55px;
  margin: 0 0 20px 20px;
  overflow: hidden;
  border-radius: 4px;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background: #fff;
  transition: all ease .5s;
}

#app .content .game-cate-sec .game-item:hover {
  transform: translateX(5px);
}

#app .content .game-cate-sec .game-item a {
  color: #000;
  text-decoration: none;
}

#app .content .game-cate-sec .game-item .avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px 10px;
  overflow: hidden;
}

#app .content .game-cate-sec .game-item .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#app .content .game-cate-sec .game-item .title {
  font-size: 14px;
  margin: 0 0 5px;
}

#app .content .game-cate-sec .game-item .info {
  overflow: hidden;
}

#app .content .game-cate-sec .game-item .intro {
  color: #848484;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app .bottom {
  height: 280px;
  padding-top: 70px;
  box-sizing: border-box;
}

#app .bottom .logo-bottom {
  float: left;
  margin: 30px 120px 0 0;
}

#app .bottom .contact {
  float: right;
  margin-left: 100px;
  font-size: 12px;
}

#app .bottom .contact .mb10 {
  margin-bottom: 10px;
}

#app .bottom .contact img {
  margin-right: 20px;
  width: 140px;
  height: 140px;
}

#app .bottom .company-intro {
  overflow: hidden;
  font-size: 12px;
  line-height: 2;
  width: 350px;
  font-size: 14px;
}

#app .bottom .company-intro .copy-right {
  margin-left: 50px;
  padding-top: 30px;
}

#app .bottom .company-intro .shortcut {
  color: #fff;
}

.skin-btn {
  position: fixed;
  top: -50px;
  right: -50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.skin-btn:hover {
  opacity: .9;
}

.skin-btn img {
  position: absolute;
  left: 18px;
  top: 57px;
  width: 24px;
  height: 24px;
}
