@charset "UTF-8";
body {
  background: -moz-linear-gradient(to bottom, #192133 0%, #192133 100%);
  background: -webkit-linear-gradient(to bottom, #192133 0%, #192133 100%);
  background: linear-gradient(to bottom, #192133 0%, #192133 100%);
}

#app {
  background: url(../skinboy/drag.png) no-repeat center center;
}

#logo {
  background: url(../skinboy/logo.png);
}

.grat-border-outer {
  border-radius: 4px;
  overflow: hidden;
}

.grat-border {
  border: 2px solid #e1c078;
  border-image: -webkit-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
  border-image: -moz-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
  border-image: -o-linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
  border-image: linear-gradient(#796130 0%, #e1c179 50%, #796130 100%) 10 10;
}

.srh-tabs {
  color: #fff;
}

.srh-btn {
  position: relative;
  overflow: hidden;
  background: -moz-linear-gradient(to bottom, #234f94 0%, #22416f 100%);
  background: -webkit-linear-gradient(to bottom, #234f94 0%, #22416f 100%);
  background: linear-gradient(to bottom, #234f94 0%, #22416f 100%);
  color: #fff;
}

.game-cate-sec {
  background: #283447;
}

.game-cate-sec .tabs {
  background: -moz-linear-gradient(to bottom, #234f94 0%, #22416f 100%);
  background: -webkit-linear-gradient(to bottom, #234f94 0%, #22416f 100%);
  background: linear-gradient(to bottom, #234f94 0%, #22416f 100%);
}

.game-cate-sec .tabs.selected {
  background: -moz-linear-gradient(to bottom, #faf0c6 0%, #ebcc80 100%);
  background: -webkit-linear-gradient(to bottom, #faf0c6 0%, #ebcc80 100%);
  background: linear-gradient(to bottom, #faf0c6 0%, #ebcc80 100%);
  color: #4c2f17;
}

.bg-decoration {
  position: relative;
}

.bg-decoration::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../skinboy/decoration.png) no-repeat center center;
  background-size: auto;
}

.bg-decoration2 {
  position: relative;
}

.bg-decoration2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../skinboy/decoration2.png) no-repeat center center;
  background-size: auto;
}

.content {
  padding-bottom: 20px;
  background: #283447;
}

.game-cate-sec {
  margin-bottom: 20px;
  background-position: center bottom;
}

.game-cate-sec:last-child {
  background: none;
}

.sub-title {
  margin-bottom: 0;
  height: 80px;
  line-height: 80px;
  background: url(../skinboy/banner-txt.png) no-repeat center center;
  color: #efbf6b;
  font-size: 20px;
  font-family: '宋体';
  text-align: center;
}

.company-intro {
  font-size: 12px;
  color: #efbf6b;
}

.copy-right {
  font-size: 12px;
  color: #4d637a;
}

.contact {
  width: 330px;
  text-align: left;
  color: #fff;
}

.bottom {
  border-top: 1px solid #8f7640;
}
