<!doctype html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>绝地求生战绩查询，组队开黑尽在头号队友</title>
<meta name="baidu-site-verification" content="yM81O0kwuV" />
<meta name="description" content="头号队友—致力于做国内最大的组队开黑平台，并提供绝地求生战绩查询，Steam游戏，epic游戏，steam商城，组队，开黑，游戏陪玩，游戏代练等各种游戏的相关增值服务，组队开黑就来头号队友吧！" />
<meta name="keywords" content="绝地求生战绩查询，PUBG战绩查询，绝地求生皮肤，绝地求生账号，绝地求生CDKEY，游戏商城，PUBG账号，吃鸡账号，吃鸡激活码，吃鸡KEY" />
<link rel="shortext-centerut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="./lib/vue.js"></script>
<script src="./lib/element.min.js"></script>
<link id="css-link" rel="stylesheet" href="./assets/css/comm.css">
<link id="css-link" rel="stylesheet" href="./assets/css/search.css">
</head> 
<body>
<div class="page-search-detail hide" id="vm-app" :class="{'show': showPage}">
  <!-- 头部搜索 -->
  <div class="header"> 
    <h1 class="logo">头号队友</h1>
    <ul class="nav">
      <!-- <li><a href="./index.html">首页</a></li> -->
      <li class="selected"><a href="javascript: void(0);">绝地求生战绩查询</a></li>
      <!-- <li><a href="./team.html">组队开黑</a></li>
      <li><a>游戏商城</a></li>
      <li><a>游戏直播</a></li>
      <li><a>休闲游戏</a></li>
      <li><a>动漫影视</a></li> -->
    </ul>
  </div>
  <!-- 搜索 -->
  <div class="search">
    <input id="search-inp" v-model="srhVal" type="text" placeholder="请输入要查询的用户昵称进行查询" @keyup.enter="search">
    <div class="btn srh-btn btn-dot-gold btn-hover-animate-gold" @click="search">
      <i class="ico ico-search-gold"></i>查询
    </div>
  </div>
  <!-- 内容 -->
  <div class="wrapper">
    <!-- 用户信息 -->
    <div class="sec-usr">
      <div class="avatar">
        <img src="./assets/img/avatar.png">
      </div>
      <div class="user-info">
        <div class="prof">
          <div class="nick-name">{{ (userData && userData.account) || '-' }}</div>
          <div class="btns">
            <div @click="refresh" class="btn btn-middle btn-dot-white btn-refresh btn-hover-animate-white">
              <i class="ico ico-refresh"></i>更新
            </div>
            <!-- <div class="btn btn-middle btn-dot-white btn-add"><i class="ico ico-add"></i>收藏</div> -->
          </div>
          <div class="refresh-time">
            最近更新：<span class="refresh-time-num">{{ (userData && formatTimeStr(userData.lastUpdateTime)) || '-' }}</span>
          </div>
        </div>
        <div class="adv">
          <a href="http://www.91cdkey.com/propaganda?channelId=11004&netbarId=0&resCode=RES-1-1-53" target="_blank">
            <img src="./assets/img/adv.png">
          </a>
          <!-- <div class="left-txt">微信扫码</div>
          <img src="">
          <div class="qr-items">
            <div>战绩查询</div>
            <div>组队开黑</div>
            <div>战绩查询</div>
            <div>战绩查询</div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- 数据查询 -->
    <div v-if="userData && !loadingUserData">
      <!-- 竞技模式 -->
      <div class="sec sec-data sec-sports">
        <div class="sec-title">竞技模式战绩</div>
        <div class="fl">
          <div class="session-select">
            <div class="select-dropdown">
              比赛：
              <el-dropdown @command="sessonSelectHandler">
                <span class="el-dropdown-link">
                  {{ sessonSelectName }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item v-for="(item, idx) in seasonList" :key="idx" :command="item">
                    {{ item.name }}
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              
              <el-dropdown @command="sessonTypeSelectHandler" style="margin-left: 20px;">
                <span class="el-dropdown-link">
                  {{ sessonTypeSelectName }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="TPP">TPP</el-dropdown-item>
                  <el-dropdown-item command="FPP">FPP</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div class="ovh">
            <div class="sports-item">
              <div class="plr20">
                <div>平均排名</div>
                <div class="score-item">
                  <span class="score">23.1</span>
                  <span class="icon-"></span>
                </div>
              </div>
              <div class="sports-line sports-line-dark"><span class="g-999">前10率</span><span class="fr">35%</span></div>
              <div class="sports-line"><span class="g-999">胜率</span><span class="fr">9%</span></div>
              <div class="sports-line sports-line-dark"><span class="g-999">总胜场数</span><span class="fr">3</span></div>
            </div>
            <div class="sports-item">
              <div class="plr20">
                <div>KDA</div>
                <div class="score-item">
                  <span class="score">1.54</span>
                  <span class="icon-"></span>
                </div>
              </div>
              <div class="sports-line sports-line-dark"><span class="g-999">总淘汰数</span><span class="fr">35%</span></div>
              <div class="sports-line"><span class="g-999">总助攻数</span><span class="fr">9%</span></div>
              <div class="sports-line sports-line-dark"><span class="g-999">总被淘汰数</span><span class="fr">3</span></div>
            </div>
            <div class="sports-item">
              <div class="plr20">
                <div>平均伤害量</div>
                <div class="score-item">
                  <span class="score">160</span>
                  <span class="icon-"></span>
                </div>
              </div>
              <div class="sports-line sports-line-dark"><span class="g-999">总伤害量</span><span class="fr">4.965</span></div>
              <div class="sports-line"><span class="g-999">总比赛场次</span><span class="fr">21</span></div>
              <div class="sports-line sports-line-dark"><span class="g-999">总击倒数</span><span class="fr">32</span></div>
            </div>
          </div>
          <div class="last10">
            <div class="last10-title">最近10场</div>
            <div class="ovh">
              <div class="fl">
                <div class="score-title">平均排名</div>
                <div class="score">19.4</div>
              </div>
              <div class="fl">
                <div class="score-title">KDA</div>
                <div class="score">2.24</div>
              </div>
              <div class="fl">
                <div class="score-title">平均伤害量</div>
                <div class="score">2.24</div>
              </div>
              <div class="last10-recent-rank-wrap">
                <div class="score-title">最近排名</div>
                <div class=“last10-recent-rank”>
                  <div class="item">32</div>
                  <div class="item">18</div>
                  <div class="item gray">7</div>
                  <div class="item">11</div>
                  <div class="item yellow">12</div>
                  <div class="item">1</div>
                  <div class="item gray">29</div>
                  <div class="item">1</div>
                  <div class="item yellow">64</div>
                  <div class="item">12</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fr">
          <img src="" alt="">
          <div>黄金v</div>
          <div><span>2018</span><span>RP</span></div>
          <div>赛季最高：黄金v(2018 rp)</div>
        </div>
      </div>

      <div class="sec sec-data">
        <div class="sec-title">普通战绩</div>
        <div class="">
          <div class="session-select">
            <div class="select-dropdown">
              比赛：
              <el-dropdown @command="sessonSelectHandler">
                <span class="el-dropdown-link">
                  {{ sessonSelectName }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item v-for="(item, idx) in seasonList" :key="idx" :command="item">
                    {{ item.name }}
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              
              <el-dropdown @command="sessonTypeSelectHandler" style="margin-left: 20px;">
                <span class="el-dropdown-link">
                  {{ sessonTypeSelectName }}<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="TPP">TPP</el-dropdown-item>
                  <el-dropdown-item command="FPP">FPP</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
          <div class="data-item-wrap">
            <div class="data-item" v-for="(item, idx) in seasonData">
              <div class="title">
                <span class="type">
                  <i class="ico ico-man"></i>
                  <i class="ico ico-man" v-if="idx === 1"></i>
                  <i class="ico ico-man" v-if="idx === 2"></i>
                  <i class="ico ico-man" v-if="idx === 2"></i>
                  <i class="ico ico-man" v-if="idx === 2"></i>
                  </i>{{ idx === 0 ? '单排' : idx === 1 ? '双排' : '四排' }}
                </span>
                <span class="round-num">{{ item && item.roundsPlayed }}场</span>
              </div>
              <div v-if="!loadingSeasonData" class="prof">
                <img class="fl" :src="'./assets/img/game-type-' + (idx+1) +'.png'">
                <div class="fr">
                  <b>{{ formScore(Math.ceil(item.rankPoints / 1000)) || '-' }}</b>
                  <div class="name">Surivor</div>
                  <div class="rank">第{{ '-' }}名</div>
                  <!-- <div class="process-line">
                    <div class="process-line-inner" style="width: 50%;"></div>
                  </div> -->
                </div>
                <div class="badge-wrap">
                  <div class="badge-1">
                    <i class="ico ico-rank"></i> {{ item.wins }}
                  </div>
                  <div class="badge-2">
                    <i class="ico ico-kill"></i> {{ item.top10s }}
                  </div>
                </div>
                <div class="stat">
                  <div class="trip-bg">
                    K/D<br>
                    <b class="num-kd">{{ Math.ceil(item.kd / 100) / 10 }}</b>
                  </div>
                  <div class="trip-bg">
                    场均伤害<br>
                    <b class="num-hurt">{{ Math.ceil(item.damageDealtAvg / 100) / 10 }}</b>
                  </div>
                  <div>击杀总数 <span>{{ item.kills }}</span></div>
                  <div>场均击杀 <span>{{ item && (item.roundsPlayed && Math.ceil(item.kills / item.roundsPlayed * 100) / 100) || 0 }}</span></div>
                  <div>助攻总数 <span>{{ item.assists }}</span></div>
                  <div>场均助攻 <span>{{ item && (item.roundsPlayed && Math.ceil(item.assists / item.roundsPlayed * 100) / 100) || 0 }}</span></div>
                  <div class="trip-bg">最多击杀 <span>{{ item.roundMostKills }}</span></div>
                  <div class="trip-bg">最远击杀 <span>{{ Math.ceil(item.longestKill / 100) / 10 }}m</span></div>
                  <div>Top 10% <span>{{ item.top10Rate / 10 }}%</span></div>
                  <div class="trip-bg">爆头率 <span>{{ item.headShotKillsRate / 10 }}%</span></div>
                  <div class="trip-bg">KDA <span>{{ Math.ceil(item.kda / 100) / 10 }}</span></div>
                  <div>场均生存时间 <span>{{ formTime(item.timeSurvivedAvg / 1000) }}</span></div>
                </div>
              </div>
              <div v-else class="loading"></div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="sec sec-recent hide">
        <div class="sec-title">最近15日战绩</div>
        <div class="sec-cont">
          <div>数值：
            <div class="tabs tabs-15day">
              <div class="tab" @click="data15Index = 0" :class="{selected: data15Index === 0}">击杀</div>
              <div class="tab" @click="data15Index = 1" :class="{selected: data15Index === 1}">场均伤害</div>
              <div class="tab" @click="data15Index = 2" :class="{selected: data15Index === 2}">助攻</div>
              <div class="tab" @click="data15Index = 3" :class="{selected: data15Index === 3}">KD</div>
              <div class="tab" @click="data15Index = 4" :class="{selected: data15Index === 4}">治疗数</div>
            </div>
          </div>
          <div id="ecahrt-model"></div>
        </div>
      </div>

      <div class="sec sec-weapon">
        <div class="sec-title">武器熟练度</div>
        <div class="sec-cont">
          <img class="arrow-left" @click="scrollLeft" src="./assets/img/ico/ico-weapon-left.png">
          <img class="arrow-right" @click="scrollRight" src="./assets/img/ico/ico-weapon-right.png">
          <div class="weapon-item-wrapper-box">
            <div class="weapon-item-wrapper">
              <div class="weapon-item" v-for="item in weaponMasterList" :class="{'weapon-item-detail': item.showDetail}">
                <div class="fl">
                  <div class="stat-prof">
                    <div class="pic-box">
                      <img class="pic-gun fl" :src="'./assets/img/guns/' + (gunmaps[item.name] && gunmaps[item.name][1] || 'default-gun') + '.png'" @error="defImg" >
                    </div>
                    <div class="info center">
                      <div class="gun-name">{{ (gunmaps[item.name] && gunmaps[item.name][0]) || '-' }}</div>
                      <div>
                        <img class="fl" :src="'./assets/img/masters/'+ Math.floor(item.levelCurrent / 10) + '.png'">
                        <div class="center badge-name">
                          {{ item.levelCurrent | filteLevel }}
                          <div class="process-line">
                            <div class="process-line-inner" :style="'width: ' + item.levelCurrent + '%'"></div>
                          </div>
                        </div>
                        <div class="stat-prof-stat">
                          <div class="txt-item txt-middle">{{ item.defeats }}<div class="txt">总击败</div></div>
                          <div class="txt-item txt-middle">{{ item.mostDefeatsInAGame }}<div class="txt">单场最高击败</div></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="stat-detail">
                    <div class="txt-item txt-middle">{{ item.damagePlayer | formatNumTree }}<div class="txt">总伤害</div></div>
                    <div class="txt-item txt-middle">{{ item.mostDamagePlayerInAGame | formatNumTree }}<div class="txt">单场最高伤害</div></div>
                    <div class="txt-item txt-middle">{{ item.longestDefeat | formatNumTree }}<div class="txt">最远击杀距离</div></div>
                    <div class="txt-item txt-middle">{{ item.longRangeDefeats | formatNumTree }}<div class="txt">远距离击杀数</div></div>
                    <div class="txt-item txt-middle">{{ item.headShots }}<div class="txt">总爆头</div></div>
                    <div class="txt-item txt-middle">{{ item.mostHeadShotsInAGame }}<div class="txt">单场最高爆头</div></div>
                    <div class="txt-item txt-middle">{{ item.medalDeadeye }}<div class="txt">爆头击败</div></div>
                    <div class="txt-item txt-middle">{{ item.headShotsRate }}<div class="txt">爆头击败率</div></div>
                    <div class="txt-item txt-middle">{{ item.kills }}<div class="txt">总击杀</div></div>
                    <div class="txt-item txt-middle">{{ item.mostKillsInAGame }}<div class="txt">单场最高击杀</div></div>
                    <div class="txt-item txt-middle">{{ item.groggies }}<div class="txt">总击倒</div></div>
                    <div class="txt-item txt-middle">{{ item.mostGroggiesInAGame }}<div class="txt">单场最高击倒</div></div>
                  </div>
                </div>
                <div class="center">
                  <div class="titles">
                    <div class="item" v-for="(titleItem, i) in weaponMasterTitles" :key="i">
                      <img class="fl" :src="'./assets/img/title/' + titleItem.url">
                      <div class="center title-desc">
                        <div class="name">{{ titleItem.name }}</div>
                        <div class="txt">{{ titleItem.desc }}</div>
                      </div>
                      <div class="right">
                        <div class="num">{{ item[titleItem.key] }}</div>
                        次
                      </div>
                    </div>
                  </div>
                </div>

                <img v-show="!item.showDetail" @click="item.showDetail = !item.showDetail" title="点击展开" class="arrow" src="./assets/img/ico/ico-gun-arrow.png">
                <img v-show="item.showDetail" @click="item.showDetail = !item.showDetail" title="点击收起" class="arrow" src="./assets/img/ico/ico-gun-arrow2.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sec sec-record">
        <div class="sec-title">比赛记录</div>
        <div class="sec-cont">
          <table>
            <thead>
              <tr>
                <th style="width: 200px;">排名</th>
                <th style="width: 200px;">模式</th>
                <th>击杀</th>
                <th>击倒</th>
                <th>伤害</th>
                <th>助攻</th>
                <th>治疗数</th>
                <th>存活时间</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(item, idx) in matchesList">
                <tr v-if="item.matchesInfo && item.playerInfo">
                  <td>
                    <div style="display: inline-block;text-align: left;width: 130px;">
                      <span class="rank-strong">#{{ item.playerInfo.rank }}</span>
                      {{ '/ ' + item.matchesInfo.teams }}
                      <img style="margin-left: 10px;" v-if="item.playerInfo.rank === 1" src="./assets/img/ico/ico-checken.png">
                      <div>{{ formatTimeStr(item.matchesInfo.gameTime, '{y}-{m}-{d} {h}:{i}') }}</div>
                    </div>
                  </td>
                  <td>{{ item.matchesInfo.mapName | filterMapname}}
                    <span class="ico-wrap">
                      <i class="ico ico-man"></i>
                      <i class="ico ico-man" v-if="item.matchesInfo.gameMode.indexOf('duo') >= 0 || item.matchesInfo.gameMode.indexOf('squad') >= 0"></i>
                      <i class="ico ico-man" v-if="item.matchesInfo.gameMode.indexOf('squad') >= 0"></i>
                      <i class="ico ico-man" v-if="item.matchesInfo.gameMode.indexOf('squad') >= 0"></i>
                    </span>
                  </td>
                  <td><img style="margin-right: 5px;vertical-align: -6px;" src="./assets/img/ico/ico-gun.png">{{ item.playerInfo.kills }}</td>
                  <td>{{ item.playerInfo.dbnos }}</td>
                  <td>{{ Math.ceil(item.playerInfo.damageDealt / 100) / 10 }}</td>
                  <td>{{ item.playerInfo.assists }}</td>
                  <td>{{ item.playerInfo.heals }}</td>
                  <td>{{ formTime(item.playerInfo.timeSurvived / 1000) }}</td>
                  <td>
                    <div class="btn btn-data-more" :class="{open: item.showTeam}" @click="showTeam(item, idx)">
                      全队数据<i class="ico ico-arrowdown"></i>
                    </div>
                  </td>
                </tr>
                <tr v-if="item.showTeam">
                  <td v-show="!item.loadingTeamDetail" class="td-detail" colspan="9">
                    <table>
                      <thead>
                        <tr>
                          <th>名称</th>
                          <th>伤害</th>
                          <th>击杀</th>
                          <th>击倒</th>
                          <th>助攻</th>
                          <th>治疗数</th>
                          <th>存活时间</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tr v-for="(team, subidx) in item.teamList" :key="subidx">
                        <td><div class="user-name" @click="goPage(team.account)">{{ team.account }}</div></td>
                        <td>
                          <div style="display: inline-block;width: 170px;text-align: left;">
                            <div class="process-line">
                              <div class="process-line-inner" :class="'process-line-inner-' + subidx" :style="'width: ' + team.damageDealt / item.damageDealtAll * 100 + '%'"></div>
                            </div>
                            {{ Math.ceil(team.damageDealt / 100) / 10 }}
                          </div>
                        </td>
                        <td :class="{'strong': filterStrong('kills', item.teamList) === team.kills && team.kills !== 0}">{{ team.kills }}</td>
                        <td :class="{'strong': filterStrong('dbnos', item.teamList) === team.dbnos && team.dbnos !== 0}">{{ team.dbnos }}</td>
                        <td :class="{'strong': filterStrong('assists', item.teamList) === team.assists && team.assists !== 0}">{{ team.assists }}</td>
                        <td :class="{'strong': filterStrong('heals', item.teamList) === team.heals && team.heals !== 0}">{{ team.heals }}</td>
                        <td>{{ formTime(team.timeSurvived / 1000) }}</td>
                        <td><img v-if="team.mvp" src="./assets/img/ico/ico-mvp.png"></td>
                      </tr>
                    </table>
                  </td>
                  <td v-show="item.loadingTeamDetail" class="td-detail" colspan="9">
                    <div class="loading"></div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="btn btn-showmore" @click="getMatchesPlayerlist" :class="{'finish': loadingMore === 'finish'}">
          {{ loadingMore === true ? '数据加载中...' : loadingMore === 'finish' ? '没有更多数据' : '显示更多' }}
        </div>
      </div>
    </div>
    <div v-if="loadingUserData" class="loading"></div>
    <div class="init-tip loading" v-if="initUser">用户数据初始化中...</div>
    <div v-if="userData === false" class="no-data">用户不存在，请确认大小写是否正确!</div>

    <div class="goods-wrapper" v-if="!userData && goodsList.length">
      <div class="goods-item" v-for="item in goodsList">
        <a :href="item.url" target="_blank" :title="item.name">
          <div class="img-box">
            <img :src="item.img">
          </div>
          <div class="goods-bottom">
            <span class="name ell">{{ item.name }}</span>
            <span class="price">{{ item.money }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- 页脚 -->
  <!-- 底部 --> 
  <div class="bottom"> 
    <div class="wrapper">
      <div class="friends-links">
        <ul>
          <li>友情链接：</li>
          <li>
            <a href="http://zzjxyxw.hamiren.com" target="_blank">嘉兴游戏</a>
          </li>
          <li>
            <a href="http://www.ziyuan120.cn/list/29.html" target="_blank">ps完全自学教程</a>
          </li>
          <li>
            <a href="https://www.3sdj.com" target="_blank">电竞大神</a>
          </li>
        </ul>
      </div>
      <div class="logo-bottom"></div> 
      <div class="contact">
        <!-- <div class="mb10">联系方式</div>
        <div>
          <img src=""> 
          <img src=""> 
        </div> -->
      </div>
      <div class="company-intro" style="width: 750px;">
        头号队友—致力于做国内最大的组队开黑平台，并提供绝地求生战绩查询，Steam游戏，epic游戏，steam商城，组队，开黑，游戏陪玩，游戏代练等各种游戏的相关增值服务，组队开黑就来头号队友吧！ 
        <span class="shortcut">Ctrl+D</span> 收藏至书签。 
        <div class="copy-right">
        Copyright © 2020 蜀ICP备19007792号
        </div> 
      </div>
    </div>
  </div>
</div>
<script data-main="./js/app/search.js" src="./lib/require.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b64d18d075818800a237fcffad0915d9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>